/* MAIN - RENTAL */

.itemsRental{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.camaras{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    img{
        width: 35%;
    }
}

.lentes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    img{
        width: 35%;
    }
}

.tripodes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    img{
        width: 35%;
    }
}

.iluminacion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    img{
        width: 35%;
    }
}

.accesorios{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    img{
        width: 35%;
    }
}

.grip{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    img{
        width: 50%;
    }
}

@media (min-width: 720px){


    /* MAIN - RENTAL */

    .itemsRental{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: "camaras lentes"
        "tripodes iluminacion"
        "accesorios grip";
        padding: 10px;
    }
    
    .camaras{
        grid-area: camaras;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
        img{
            width: 50%;
        }
    }
    
    .lentes{
        grid-area: lentes;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
        img{
            width: 50%;
        }
    }
    
    .tripodes{
        grid-area: tripodes;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
        img{
            width: 50%;
        }
    }
    
    .iluminacion{
        grid-area: iluminacion;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
        img{
            width: 50%;
        }
    }
    
    .accesorios{
        grid-area: accesorios;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
        img{
            width: 50%;
        }
    }
    
    .grip{
        grid-area: grip;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
        img{
            width: 50%;
        }
    }
}

@media (min-width: 1024px){

    /* MAIN - RENTAL */

    .itemsRental{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "camaras lentes tripodes"
        "iluminacion accesorios grip";
        padding: 10px;
    }

    .camaras img{
        width: 75%;
    }

    .lentes img{
        width: 75%;
    }

    .tripodes img{
        width: 75%;
    }

    .accesorios img{
        width: 75%;
    }

    .iluminacion img{
        width: 75%;
    }

    .grip img{
        width: 75%;
    }

    .camaras, .lentes, .tripodes, .iluminacion, .accesorios, .grip {
        transition: all .2s ease-in-out; 
    }

    .camaras:hover, .lentes:hover, .tripodes:hover, .iluminacion:hover, .accesorios:hover, .grip:hover {
        transform: scale(1.2);
    }
}