/* MAIN - SERVICIOS */

.gridServicios{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "fotografia"
    "fotoShot"
    "video"
    "videoRod";
}

.fotografia{
    grid-area: fotografia;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 10px 0px 10px;
}

.fotoShooting{
    grid-area: fotoShot;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 10px 10px 10px;
    img{
        width: 50%;
    }
}

.video{
    grid-area: video;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 10px 0px 10px;
}

.fotoRodaje{
    grid-area: videoRod;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 10px 10px 10px;
    img{
        width: 50%;
    }
}

@media (min-width: 720px){


    /* MAIN - SERVICIOS */

    .gridServicios{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.5fr 1fr;
        grid-template-areas: 
        "fotografia video"
        "fotoShot videoRod";
    }
    
    .fotografia{
        grid-area: fotografia;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: flex-end;
        text-align: right;
        padding: 10px;
    }
    
    .fotoShooting{
        grid-area: fotoShot;
        display: flex;
        justify-content: center;
        padding: 10px;
        img{
            width: 75%;
        }
    }
    
    .video{
        grid-area: video;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: flex-start;
        padding: 10px;
    }
    
    .fotoRodaje{
        grid-area: videoRod;
        display: flex;
        justify-content: center;
        padding: 10px;
        img{
            width: 75%;
        }
    }
}

@media (min-width: 1024px){

    /* MAIN - SERVICIOS */

    .fotoShooting, .fotoRodaje {
        transition: all .2s ease-in-out; 
    }

    .fotoShooting:hover, .fotoRodaje:hover {
        transform: scale(1.3);
    }
}